.main {
  padding-top: 150px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  padding: 10px;
}
.flex {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
